<h1> Lista de Productos </h1>
<table class="table table-dark">
    <tr>
        <th>Id</th>
        <th>Titulo</th>
        <th>Precio</th>
        <th>Miniatura</th>
    </tr>
    {{#if products.length }}
    {{#each products}}
    <tr>
        <td>{{this.id}} </td>
        <td>{{this.title}} </td>
        <td>{{this.price}} </td>
        <td><img height="70px" width="70px" src={{this.thumbnail}} alt=""> </td>
    </tr>
    {{/each}}
    {{else}}
    <h1>No hay Productos</h1>
    {{/if}}

</table>
<div class="col-12">
    <a class="btn btn-primary" href="/api">Atras</a>
</div>